In [10]:
import pandas as pd
names_file = '../Datasets/mini_imdb_names.csv'
ingmar_csv = '../Datasets/ingmar.csv'

In [16]:
use_cols = ['imdb_name_id', 'name', 'birth_name',
            'date_of_birth', 'place_of_birth', 'date_of_death',
            'place_of_death', 'reason_of_death', 'spouses_string']
names_df = pd.read_csv(names_file, parse_dates=['date_of_birth', 'date_of_death'], usecols=use_cols)
names_df.columns

Index(['imdb_name_id', 'name', 'birth_name', 'date_of_birth', 'place_of_birth',
       'date_of_death', 'place_of_death', 'reason_of_death', 'spouses_string'],
      dtype='object')

In [17]:
names_df.head()

,imdb_name_id,name,birth_name,date_of_birth,place_of_birth,date_of_death,place_of_death,reason_of_death,spouses_string
0,nm0000001,Fred Astaire,Frederic Austerlitz Jr.,1899-05-10,"Omaha, Nebraska, USA",1987-06-22,"Los Angeles, California, USA",pneumonia,Robyn Smith (27 June 1980 - 22 June 1987) (hi...
1,nm0000002,Lauren Bacall,Betty Joan Perske,1924-09-16,"The Bronx, New York City, New York, USA",2014-08-12,"New York City, New York, USA",stroke,Jason Robards (4 July 1961 - 10 September 196...
2,nm0000003,Brigitte Bardot,Brigitte Bardot,1934-09-28,"Paris, France",NaT,NaN,NaN,Bernard d'Ormale (16 August 1992 - present)\n...
3,nm0000004,John Belushi,John Adam Belushi,1949-01-24,"Chicago, Illinois, USA",1982-03-05,"Hollywood, Los Angeles, California, USA",acute cocaine and heroin intoxication,Judith Belushi-Pisano (31 December 1976 - 5 M...
4,nm0000005,Ingmar Bergman,Ernst Ingmar Bergman,1918-07-14,"Uppsala, Uppsala län, Sweden",2007-07-30,"Fårö, Gotlands län, Sweden",natural causes,Ingrid Bergman (11 November 1971 - 20 May 199...

In [18]:
names_only_df = pd.read_csv(names_file, usecols=['imdb_name_id', 'name', 'birth_name'])
names_only_df.head()

  imdb_name_id             name               birth_name
0    nm0000001     Fred Astaire  Frederic Austerlitz Jr.
1    nm0000002    Lauren Bacall        Betty Joan Perske
2    nm0000003  Brigitte Bardot          Brigitte Bardot
3    nm0000004     John Belushi        John Adam Belushi
4    nm0000005   Ingmar Bergman     Ernst Ingmar Bergman

In [21]:
"create (:Person:Actor {imdb_id: $id, name: $name, birth_name: $birth_name})"

'create (:Person:Actor {imdb_id: $id, name: $name, birth_name: $birth_name})'

In [22]:
# def node_str(row)->str:
#
#     return ("(:Person:Actor )")
{**names_only_df.iloc[1]}

{'imdb_name_id': 'nm0000002',
 'name': 'Lauren Bacall',
 'birth_name': 'Betty Joan Perske'}